In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Used_Bikes.csv')
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [3]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [4]:
df.shape

(32648, 8)

In [5]:
df.duplicated().sum()

25324

In [6]:
df.drop_duplicates(inplace=True )

In [7]:
df.shape

(7324, 8)

In [8]:
df.dtypes

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

In [9]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj

In [10]:
cat_col = df.select_dtypes(include="O")
cat_col.head()

                              bike_name       city        owner          brand
0    TVS Star City Plus Dual Tone 110cc  Ahmedabad  First Owner            TVS
1           Royal Enfield Classic 350cc      Delhi  First Owner  Royal Enfield
2                  Triumph Daytona 675R      Delhi  First Owner        Triumph
3                  TVS Apache RTR 180cc  Bangalore  First Owner            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore  First Owner         Yamaha

In [11]:
cat_col['bike_name'].nunique()

471

In [12]:
cat_col = cat_col.drop(['bike_name','city'] , axis=1)
cat_col

            owner            brand
0     First Owner              TVS
1     First Owner    Royal Enfield
2     First Owner          Triumph
3     First Owner              TVS
4     First Owner           Yamaha
...           ...              ...
9362  First Owner             Hero
9369  First Owner            Bajaj
9370  First Owner  Harley-Davidson
9371  First Owner            Bajaj
9372  First Owner            Bajaj

[7324 rows x 2 columns]

In [13]:
cat_col['owner'].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

In [14]:
dt = {"First Owner":1,"Second Owner":2,"Third Owner":3,"Fourth Owner Or More":4}
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [15]:
# for i in cat_col['owner']:
#     print(dt[i])

In [16]:
cat_col['owner'] = cat_col['owner'].map(dt)

In [17]:
cat_col['brand'].nunique()

23

In [18]:
unique_brands = list(cat_col['brand'].unique())
unique_brands

['TVS',
 'Royal Enfield',
 'Triumph',
 'Yamaha',
 'Honda',
 'Hero',
 'Bajaj',
 'Suzuki',
 'Benelli',
 'KTM',
 'Mahindra',
 'Kawasaki',
 'Ducati',
 'Hyosung',
 'Harley-Davidson',
 'Jawa',
 'BMW',
 'Indian',
 'Rajdoot',
 'LML',
 'Yezdi',
 'MV',
 'Ideal']

In [19]:
num_col = df.select_dtypes(exclude="O")
num_col.head()

      price  kms_driven  age  power
0   35000.0     17654.0  3.0  110.0
1  119900.0     11000.0  4.0  350.0
2  600000.0       110.0  8.0  675.0
3   65000.0     16329.0  4.0  180.0
4   80000.0     10000.0  3.0  150.0

In [20]:
cat_col['brand'].unique()

array(['TVS', 'Royal Enfield', 'Triumph', 'Yamaha', 'Honda', 'Hero',
       'Bajaj', 'Suzuki', 'Benelli', 'KTM', 'Mahindra', 'Kawasaki',
       'Ducati', 'Hyosung', 'Harley-Davidson', 'Jawa', 'BMW', 'Indian',
       'Rajdoot', 'LML', 'Yezdi', 'MV', 'Ideal'], dtype=object)

In [21]:
n = 1
dt2 = {}
for i in unique_brands:
    # print(i)
    dt2[i] = n
    n+=1
dt2

{'TVS': 1,
 'Royal Enfield': 2,
 'Triumph': 3,
 'Yamaha': 4,
 'Honda': 5,
 'Hero': 6,
 'Bajaj': 7,
 'Suzuki': 8,
 'Benelli': 9,
 'KTM': 10,
 'Mahindra': 11,
 'Kawasaki': 12,
 'Ducati': 13,
 'Hyosung': 14,
 'Harley-Davidson': 15,
 'Jawa': 16,
 'BMW': 17,
 'Indian': 18,
 'Rajdoot': 19,
 'LML': 20,
 'Yezdi': 21,
 'MV': 22,
 'Ideal': 23}

In [22]:
# {brand:i for i , brand in enumerate(unique_brands)} 
# list comprehension

In [23]:
cat_col['brand'] = cat_col['brand'].map(dt2)

In [24]:
cat_col

      owner  brand
0         1      1
1         1      2
2         1      3
3         1      1
4         1      4
...     ...    ...
9362      1      6
9369      1      7
9370      1     15
9371      1      7
9372      1      7

[7324 rows x 2 columns]

In [25]:
pd.get_dummies(df).astype(int).shape # one hot encoding

(7324, 945)

In [26]:
num_col

         price  kms_driven  age  power
0      35000.0     17654.0  3.0  110.0
1     119900.0     11000.0  4.0  350.0
2     600000.0       110.0  8.0  675.0
3      65000.0     16329.0  4.0  180.0
4      80000.0     10000.0  3.0  150.0
...        ...         ...  ...    ...
9362   25000.0     48587.0  8.0  150.0
9369   35000.0     60000.0  9.0  220.0
9370  450000.0      3430.0  4.0  750.0
9371  139000.0     21300.0  4.0  400.0
9372   80000.0      7127.0  5.0  220.0

[7324 rows x 4 columns]

In [27]:
df2 = pd.concat([cat_col,num_col],axis=1)
df2.head(2)

   owner  brand     price  kms_driven  age  power
0      1      1   35000.0     17654.0  3.0  110.0
1      1      2  119900.0     11000.0  4.0  350.0

In [28]:
df2.isnull().sum()

owner         0
brand         0
price         0
kms_driven    0
age           0
power         0
dtype: int64

In [29]:
# x , y independent , dependent 
x = df2.drop('price',axis='columns')
y = df2[['price']]

In [30]:
# train testing split 
from sklearn.model_selection import train_test_split

In [31]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)   # 80% train , 20% testing

In [63]:
x_train

      owner  brand  kms_driven   age  power
211       1      4     10000.0   3.0  150.0
5020      1      7     10576.0   8.0  220.0
2131      1      7     13170.0   3.0  100.0
7543      1      4     13959.0   4.0  150.0
2793      1      5     30000.0   7.0  125.0
...     ...    ...         ...   ...    ...
3102      1      7     90393.0  10.0  180.0
5168      1      7     13000.0   6.0  200.0
6976      1      2     12000.0   3.0  350.0
123       1      4       285.0   5.0  600.0
3742      1     10      5738.0   3.0  200.0

[5859 rows x 5 columns]

In [32]:
### MODEL TRAINING 
from sklearn.linear_model import LinearRegression

In [33]:
lr = LinearRegression()

In [34]:
lr.fit(x_train,y_train)

LinearRegression()

In [35]:
### MODEL EVALUTATION 
lr.score(x_train,y_train)   # training data

0.7243871760073739

In [36]:
lr.score(x_test,y_test)

0.7038101050223458

In [37]:

### model score should be above to 90%  -- 
### train & testing score difference not should be more than 5% 
### model over fit or model underfit 


### METRICS EVALUTATION METHOD 
# MSE   --> mean squared error
# MAE  -- > mean absolute error 
# RMSE  ==> root mean squared erorr 
# SCORE 
# ADJUSTED R SQUARED  or rsquared

In [38]:
# model overfit 
# traing score --->   HIGH 
# TEST SCORE --- >    LOW       ### ( OVERFIT CONDITION )


# ##  MODEL UNDER FIT 
# TRAINING SCORE ====>  LOW 
# TESTING SCORE  ====>  LOW/HIGH   ## (MODEL UNDER FIT)

In [39]:
prediction = lr.predict(x_test)

In [40]:
y_test['predicted_price'] =  prediction

In [41]:
y_test 

## with error rate 
# 90%   --> 10
# 70%   --> 30 
# mean squared error 
y_test['difference'] = y_test['price'] - y_test['predicted_price']

In [42]:
y_test
# difference --> residual

         price  predicted_price    difference
3630   32000.0     23136.520072   8863.479928
2620   30000.0     18504.921531  11495.078469
3044   25000.0     29585.053427  -4585.053427
13     29499.0     19421.600403  10077.399597
6492   91000.0    128224.180719 -37224.180719
...        ...              ...           ...
3285  105000.0     85363.156784  19636.843216
8568  100000.0     88300.520449  11699.479551
3082   55000.0     97417.491315 -42417.491315
4693   83000.0     41387.027924  41612.972076
7231  170000.0    236170.472824 -66170.472824

[1465 rows x 3 columns]

In [43]:
## mse function mae , rmse

In [44]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [45]:
mean_squared_error(y_test['price'],y_test['predicted_price'])

# shold be lower 
# accuracy score

4391557212.557479

In [46]:
mean_absolute_error(y_test['price'],y_test['predicted_price'])
# should be low

33446.370740560145

In [47]:
import numpy as np

In [48]:
mse = mean_squared_error(y_test['price'],y_test['predicted_price'])
mse

4391557212.557479

In [49]:
np.sqrt(mse)   # root mean squared error

66268.82534463305

In [50]:
## score 

# r_squared  , adjusted rsquared 
lr.score(x_train,y_train)

##

0.7243871760073739

In [51]:
from sklearn.metrics import r2_score

In [52]:
r2_score(y_test['price'],y_test['predicted_price'])   # test data

0.7038101050223458

In [53]:
loss = (1-0.7073023549018256)*(1465-1)/(1465-5-1)
1-loss

0.7062992786677673

In [54]:
x_test.shape

(1465, 5)

In [55]:
import joblib , pickle

In [56]:
ls = ['ranjit.upflairs@gmail.com',"hello@123456"]

In [57]:
joblib.dump(ls,'email_id.lb')

['email_id.lb']

In [58]:
ls2 = joblib.load('email_id.lb')
ls2

['ranjit.upflairs@gmail.com', 'hello@123456']

In [59]:
joblib.dump(lr,'linear_regression_model.lb')

['linear_regression_model.lb']

In [60]:
joblib.load('linear_regression_model.lb')

LinearRegression()

In [61]:
lr

LinearRegression()

In [62]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj