In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Salary_Data.csv')

In [6]:
# x , y 
x = df.drop('Salary',axis=1)
y = df[['Salary']]

In [10]:
y   # <--

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [ ]:
# numpy , pandas , matplot , seaborn data visualazation  sklearn 

# pip install scikit-learn

In [11]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [18]:
y_test    # y train

      Salary
10   63218.0
3    43525.0
4    39891.0
29  121872.0
28  122391.0
6    60150.0

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
lr = LinearRegression()    # class

In [21]:
lr.fit(x_train,y_train)   # algorithm train

LinearRegression()

In [22]:
x_test

    YearsExperience
10              3.9
3               2.0
4               2.2
29             10.5
28             10.3
6               3.0

In [31]:
prediction = lr.predict(x_test) 
prediction

array([[ 62770.27482461],
       [ 44691.89228781],
       [ 46594.87992326],
       [125568.86679457],
       [123665.87915911],
       [ 54206.83046507]])

In [25]:
# x_test , y_test  
y_test['predict_salary'] =  prediction

In [26]:
y_test

      Salary  predict_salary
10   63218.0    62770.274825
3    43525.0    44691.892288
4    39891.0    46594.879923
29  121872.0   125568.866795
28  122391.0   123665.879159
6    60150.0    54206.830465

In [32]:
x_test

    YearsExperience
10              3.9
3               2.0
4               2.2
29             10.5
28             10.3
6               3.0

In [29]:
df2 = pd.concat([x_test,y_test],axis=1)
df2

    YearsExperience    Salary  predict_salary
10              3.9   63218.0    62770.274825
3               2.0   43525.0    44691.892288
4               2.2   39891.0    46594.879923
29             10.5  121872.0   125568.866795
28             10.3  122391.0   123665.879159
6               3.0   60150.0    54206.830465

In [ ]:
# 10 k row  record

In [34]:
lr.score(x_train,y_train)   # train score 
# 94

0.9428774093244014

In [36]:
lr.score(x_test,y_test['Salary'])  # testing score

0.9861761603719071